{% extends 'main.html' %}

{% block content %}
<div class="container card">
    <div> <h1>Candidates applied</h1>
    </div>
   
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Resume</th>
                <th>Company</th>
            </tr>
            {% for c in candidates %}
                <tr>
                    <td>{{c.candidate_user}}</td>
                    {% if c.resume %}
                    <td><a href='{{c.resume.url}}' download >{{c.resume}}</td></a></td>
                    {% else %}
                    <td>Not submitted</td>
                    {% endif %}
                    <td>{{c.company}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}